<template>
  <div class="collection-options">

    <div class="collection-options__wrap">
      <div class="collection-options__left">

        <div class="collection-options__item">
          <select class="m_filter m_color js-filter-select" name="colors" id="color" multiple data-placeholder="Color" data-limit=10>
            <option value="cotton-candy">COTTON CANDY</option>
            <option value="noir">NOIR</option>
            <option value="mauve-croc">MAUVE CROC</option>
            <option value="burgundy">BURGUNDY</option>
            <option value="metallic-gold">METALLIC GOLD</option>
            <option value="lily">LILY</option>
            <option value="lavender">LAVENDER</option>
            <option value="bluebell">BLUEBELL</option>
            <option value="pebbled-oxford">PEBBLED OXFORD</option>
          </select>
        </div>
        <!-- /.collection-options__item -->

        <div class="collection-options__item">
          <select class="m_filter js-filter-select" name="price" id="price" data-placeholder="Price">
            <option value="" data-hidden=true></option>
            <option value="0-25">$0-25</option>
            <option value="25-50">$25-50</option>
            <option value="50-100">$50-100</option>
            <option value="100-200">$100-200</option>
            <option value="200-300">$200-300</option>
            <option value="300-400">$300-400</option>
            <option value="500+">$500+</option>
          </select>
        </div>
        <!-- /.collection-options__item -->
      </div>


      <div class="collection-options__right">    
        <div class="collection-options__item">
          <select class="m_filter js-filter-select" name="sort" id="sort" data-placeholder="Sort">
            <option value="" data-hidden=true></option>
            <option value="created-descending">Newest</option>
            <option value="best-selling">Most Popular</option>
            <option value="price-ascending">Price: Low to High</option>
            <option value="price-descending">Price: High to Low</option>
          </select>
        </div>
        <!-- /.collection-options__item -->
        
        <div class="collection-options__item">
          <pagination v-bind="{items, pagination, updatePaginationFromTo}"></pagination>
        </div>
        <!-- /.collection-options__item -->
      </div>
    </div>
    
    <h4 class="collection-options__title" v-if="items.length">SHOWING {{ pagination.from+1 }}-{{ pagination.to }} OF {{items.length}} ITEMS</h4>
  </div>
</template>

<script>

  import customSelect from '../../helpers/customSelect'
  import Pagination from './Pagination.vue'

  export default {
    components: {
      Pagination
    },
    name: 'Options',
    props: ['items', 'filterOptions', 'requestCollection', 'pagination', 'updatePaginationFromTo'],
    mounted() {
      customSelect('.js-filter-select', this.$eventBus)
      this.$eventBus.$on('filter', payLoad => {
        if (payLoad) {
          this.filterOptions[payLoad.name] = payLoad.value
        }
        this.requestCollection()
      })
    }
  }
</script>

