<template>
  <nav :class="{'pagination': true, 'has-pages': pagination.pages > 1}">
    <a class="pagination__item m-prev" href="#"
       v-if="pagination.current > 1"
       @click.prevent="pagination.current--">Previous</a>

    <a class="pagination__item" href="#" 
       v-if="pagination.current - pagination.offset > 1"
       @click.prevent="pagination.current-=pagination.offset">...</a>

    <a :class="{'pagination__item js-pagination-page': true, 'is-active': page == pagination.current}"
        v-for="page in paginationRange( getPaginationOffset() )" 
        :href="`#${page}`"
        v-if="pagination.pages > 1"
        @click.prevent="pagination.current = page">{{ page }}</a>
    
    <a class="pagination__item" href="#"
      v-if="(pagination.current + pagination.offset) < pagination.pages"
      @click.prevent="pagination.current+=pagination.offset">...</a>
    
    <a class="pagination__item m-next" href="#"
      v-if="pagination.current != pagination.pages && pagination.pages != 0"
      @click.prevent="pagination.current++">Next</a>
  </nav>
</template>

<script>

  export default {
    name: 'Pagination',
    props: ['items', 'filterOptions', 'updateCollection', 'pagination', 'updatePaginationFromTo'],
    mounted() {
      $('.js-pagination-page').click(function(event) {
        $(window).scrollTop(0)
      });
    },
    updated() {
      this.updatePaginationFromTo()
    },
    methods: {
       paginationRange : function ({start, end}) {
         return Array(end - start + 1).fill().map((_, idx) => start + idx)
      },
      getPaginationOffset() {
        let current = this.pagination.current
        let offset = this.pagination.offset
        let pages = this.pagination.pages
        let start = (current + offset) < pages ? (current) 
          : (pages - offset) > 0 ? (pages - offset) 
            : 1 
        let end = (current + offset) <= pages ? (current + offset) : pages

        return {start, end}
      }
    }    
  }
</script>

