<template>
  <div class="collection__products">      
    <div class="collection__product" 
      v-for="(item, index) in items" 
      v-if="index >= pagination.from && index < pagination.to">
      <product-grid-item v-bind="{ item, getPrice, getBasePrice }"></product-grid-item>
    </div>
  </div>
</template>

<script>
  import ProductGridItem from './ProductGridItem.vue'
  export default {
    name: 'Products',
    components: { ProductGridItem },
    props: ['items', 'pagination', 'getPrice', 'getBasePrice'],
  }
</script>

