<template>
  <a :href="item.url" :class="{'product-grid-item': true, 'is-zoomed': item.zoom>1}">
    <div :class="{ 'product-grid-item__image': true, 
                   'is-zoomed': item.zoom>1,
                   'm-zoom-1': item.zoomType == 'zoom-1',
                   'm-zoom-2': item.zoomType == 'zoom-2' }">
      <img class="lazyload" 
        :src="item.images.placeholder" 
        :data-srcset="`${item.images.catalog.small} 1x, ${item.images.catalog.medium} 2x`" alt="">
      <img class="lazyload onhover"  
        :data-srcset="`${item.images.hover.small} 1x, ${item.images.hover.medium} 2x`" alt="">
      <div class="product-grid-item__variants-amount" v-if="item.item_type == 'product' && item.colors_counter > 1">
        Available in {{ item.colors_counter }} colors
      </div>
    </div>
    <h3 class="product-grid-item__title">{{ item.title }}</h3>
    <div class="text m-center" v-if="item.onSale">
      <span class="product-grid-item__price m-new money" :data-USD="getBasePrice(item.price)">{{ getPrice(item.price) }}</span>
      <span class="product-grid-item__price m-old money" :data-USD="getBasePrice(item.salePrice)">{{ getPrice(item.salePrice) }}</span>
    </div>
    <div class="product-grid-item__price" v-else-if="item.price_varies">
      <span class="money" :data-USD="getBasePrice(item.price_min)">{{ getPrice(item.price_min) }}</span> - <span class="money" :data-USD="getBasePrice(item.price_max)">{{ getPrice(item.price_max) }}</span>
    </div>
    <div class="product-grid-item__price" v-else>
      <span class="money" :data-USD="getBasePrice(item.price)">{{ getPrice(item.price) }}</span>
    </div>
    <!-- BADGES: -->
    <div class="product-grid-item__badge m-soldout" v-if="item.badge.type == 'soldout'">
      <span>SOLD OUT</span>
    </div>
    <div class="product-grid-item__badge m-sale" v-else-if="item.badge.type == 'sale'">
      <span>SAVE <br>{{ item.badge.discount }}%</span>
    </div>
    <div class="product-grid-item__badge" v-else-if="item.badge.type == 'bestseller'">
      <span>BEST <br>SELLER</span>
    </div>
    <div class="product-grid-item__badge" v-else-if="item.badge.type == 'new'">
      <span>NEW!</span>
    </div>
    <div class="product-grid-item__badge m-preorder" v-if="item.badge && item.preorder">
      <span>PRE-ORDER</span>
    </div>
    <div class="product-grid-item__badge" v-else-if="!item.badge && item.preorder">
      <span>PRE-ORDER</span>
    </div>
  </a>
</template>

<script>

  export default {
    name: 'ProductGridItem',
    props: ['item', 'getPrice', 'getBasePrice']
  }
</script>

