<div class="main">
  <div class="shell">
    <h1 class="title m-main">Buying For A Group?</h1>
    <p class="bulk__intro">Whether it's for your bridal party, colleagues, friends or sorority sisters, we're here to help. Fill out this form and we'll get in touch with you as soon as possible.</p>
  </div>
  <div class="shell m-mob-no-padding">
    <div class="row-2 bulk__row">
      <div class="col-1-2 col-mob-2-2">
        {% include 'bulk-form' %}
      </div>
      <div class="col-1-2 col-mob-2-2">
        <div class="bulk__banner" style="background-image: url({{ 'bulk_banner.jpg' | asset_url  }})"></div>
      </div>
    </div>
  </div>

</div>