.collection-options {

  @include e(wrap) {
    margin: 25px 0;
    display: flex;
    height: 42px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;

    @media #{$mobile} {
      height: 50px;

      @include m(m-footer) {
        display: block;
        border-bottom: 0;
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .collection-options__right {
          border-left: none;
          align-items: center;
          justify-content: center;
          display: flex;
          margin: 1em 0 0;
          flex-basis: 100%;
          width: 100%;
        }
      }
    }
  }

  @include e(left, right, info) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include e(left) {
    border-right: 1px solid $color-black;
    @media #{$mobile} {
      width: 100%;
      border-right: 0;
    }
  }

  @include e(right) {
    border-left: 1px solid $color-black;
    @media #{$mobile} {
      display: none;

    }
  }

  @include e(info) {
    align-items: center;
    padding-right: 20px;
    margin-left: auto;

    @media #{$mobile} {
      flex-basis: 100%;
      width: 100%;
      flex-direction: column;
      margin: 1em 0 0;
      padding-right: 0;
      text-align: center;
    }
  }

  @include e(btn) {
    display: none;
    margin-top: 1em;
    @media #{$mobile} {
      // display: block;
    }
  }

  @include e(title) {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  @include e(item) {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    &+& {
      border-left: 1px solid $color-black;
    }
    @media #{$mobile} {
      flex: 0 0 100/2+%;
    }
  }
  
}


