.collection, .search {
  padding: 25px 0;
  position: relative;
  @include e(products) {
    @include grid();
  }

  @include e(product) {
    @include column(4);
    margin-top: 25px;
    @media #{$mobile} {
      @include column(6, 12, $gutter-mobile);
      &:nth-child(2n+1) {
        padding-right: 7.5px;
      }
      &:nth-child(2n) {
        padding-left: 7.5px;
      }
    }

  }
}

