.product-grid-item {
  display: block;
  text-decoration: none;
  position: relative;
  transition: 0.33s;

  @include e(image) {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EDEDEF;
    position: relative;
    img {
      display: block;
      height: auto;
      width: 100%;
      opacity: 1;
      z-index: 1;
      &.onhover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0 !important;
        z-index: -1;
      }
    }
    @include m(is-zoomed) {
      overflow: hidden;
      img {
        transform: scale(2);
      }
    }
  }

  &:hover {
    .product-grid-item__image {
      img {
        opacity: 0;
        z-index: -1;
        &.onhover {
          opacity: 1 !important;
          z-index: 1;
        }
      }
    }
  }

  @include e(title) {
    margin: 0.85em 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    @media #{$mobile} {
      font-size: 11px;

    }
  }

  @include e(price) {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    @include m(m-new) {
      color: $color-red;
    }
    @include m(m-old) {
      margin-left: 0.5em;
      font-weight: 500;
      color: $color-black;
      text-decoration: line-through;
    }
    .price {
      font-size: 12px;
      font-weight: bold;
    }
    @media #{$mobile} {
      font-size: 13px;
      font-weight: 600;
    }
  }

  @include e(badge) {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media #{$mobile} {
      width: 35px;
      height: 35px;
    }
    span {
      font-weight: bold;
      color: $color-brand;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.15em;
      transform: rotate(-45deg);
      z-index: 2;
      @media #{$mobile} {
        font-size: 7px;
      }
    }

    &:after {
      z-index: 1;
      content: "";
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      @util triangle(85px, '#F8F8F9', up-left);
      @media #{$mobile} {
        @util triangle(55px, '#F8F8F9', up-left);
      }
    }

    @include m(m-soldout) {
      span {
        color: #BBBBBB;
      }
    }

    @include m(m-sale) {
      span {
        color: $color-red;
      }
    }

    @include m(m-preorder) {
      width: 85px;
      height: 85px;
      top: 10px;
      left: 10px;
      @media #{$mobile} {
        top: 7px;
        left: 7px;
        width: 55px;
        height: 55px;
      }
      span {
        color: $color-red;
      }
      &:after {
        display: none;
      }
    }
  }


  @include e(variants-amount) {
    position: absolute;
    bottom: 0.85em;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    color: $color-grey-darkest;
  }
}