<div class="bulk-form form">
  {% form 'contact' %}
    <input class="input hidden" name="contact[title]" type="text" value='Bulk Order Form'>

    <fieldset class="form__fieldset">

      <div class="bulk-form__row">
        <div class="bulk-form__col input-wrap">
          <input type="text" class="input m-single" name="contact[first_name]" placeholder="First Name" >
        </div>
        <div class="bulk-form__col input-wrap">
          <input type="text" class="input m-single" name="contact[last_name]" placeholder="Last Name">
        </div>
      </div>

      <div class="bulk-form__row">
        <div class="bulk-form__col">
          <div class="input-wrap">
            <input type="text" class="input m-single" name="contact[email]" placeholder="Email">
          </div>
        </div>
      </div>

      <div class="bulk-form__row">
        <div class="bulk-form__col">
          <div class="input-wrap m_flex">
            <input id="phone_1" type="text" class="input input_part m-single" placeholder="+1">
            <span class="input-dash"></span>
            <input id="phone_2" type="text" class="input input_part m-single">
            <span class="input-dash"></span>
            <input id="phone_3" type="text" class="input input_part m-single">
          </div>
          <input class="input hidden" name="contact[phone]" id="phone" type="text">
        </div>
        <div class="bulk-form__col bulk-form__zip-field">
          <div class="input-wrap">
            <input type="text" class="input m-single" name="contact[zip]" placeholder="Zip Code">
          </div>
        </div>
      </div>
    </fieldset>



    <fieldset class="form__fieldset">
      <h3 class="title m-line m-block form__title">What’s the occasion?</h3>
      <div class="bulk-form__row">
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-wedding" class="checkbox" name="contact[occasion wedding]" type="checkbox">
          <label for="o-wedding">Wedding</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-sorority" class="checkbox" name="contact[occasion sorority]" type="checkbox">
          <label for="o-sorority">Sorority</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-bachelorette" class="checkbox" name="contact[occasion bachelorette]" type="checkbox">
          <label for="o-bachelorette">Bachelorette</label>
        </div>
      </div>

      <div class="bulk-form__row">
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-holiday" class="checkbox" name="contact[occasion holiday]" type="checkbox">
          <label for="o-holiday">Holiday</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-corporate" class="checkbox" name="contact[occasion gifts]" type="checkbox">
          <label for="o-corporate">Corporate Gifts</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="o-other" class="checkbox" name="contact[occasion other]" type="checkbox">
          <label for="o-other">Other</label>
        </div>      
      </div>
    </fieldset>

    <fieldset class="form__fieldset">
      <h3 class="title m-line m-block form__title">When do you need your order by?</h3>
      <div class="bulk-form__row row-mob-thin">
        <div class="bulk-form__col m-mob-third">
          <div class="input-wrap">
            <input id="date_mm" type="text" class="input input_part m-single" maxlength="2" placeholder="MM">
          </div>
        </div>
        <div class="bulk-form__col m-mob-third">
          <div class="input-wrap">
            <input id="date_dd" type="text" class="input input_part m-single" maxlength="2" placeholder="DD">
          </div>
        </div>
        <div class="bulk-form__col m-mob-third">
          <div class="input-wrap">
            <input id="date_yyyy" type="text" class="input input_part m-single" maxlength="4" placeholder="YYYY">
          </div>
        </div>
      </div>
      <input class="input hidden delivery_date" name="contact[delivery date]" type="text" value=''>
    </fieldset>

    <fieldset class="form__fieldset">
      <h3 class="title m-line m-block form__title">What item(s) were you interested in?</h3>

      <div class="bulk-form__row">
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-camerabag" class="checkbox" type="checkbox" name="contact[items interested in camera-bag]">
          <label for="p-camerabag">Camera Bag</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-bcamerabag" class="checkbox" type="checkbox" name="contact[items interested in bigger-camera-bag]">
          <label for="p-bcamerabag">Bigger Camera Bag</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-lgtag" class="checkbox" type="checkbox" name="contact[items interested in luggage-tag]">
          <label for="p-lgtag">Luggage tag</label>
        </div>
      </div>
      
      <div class="bulk-form__row">
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-shtag" class="checkbox" type="checkbox" name="contact[items interested in smaller-heart]">
          <label for="p-shtag">Smaller Heart Tag</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-bffheart" class="checkbox" type="checkbox" name="contact[items interested in bff-heart]">
          <label for="p-bffheart">BFF Heart</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-mcase" class="checkbox" type="checkbox" name="contact[items interested in makeup-case]">
          <label for="p-mcase">Makeup Case</label>
        </div>
      </div>
      
      <div class="bulk-form__row">
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-cardcase" class="checkbox" type="checkbox" name="contact[items interested in card-case]">
          <label for="p-cardcase">Card Case</label>
        </div>
        <div class="bulk-form__col m-third input-wrap">
          <input id="p-other" class="checkbox" type="checkbox" name="contact[items interested in other-items]">
          <label for="p-other">Other</label>
        </div>
      </div>

    </fieldset>

    <fieldset class="form__fieldset">
      <h3 class="title m-line m-block form__title">Preferred method of communication</h3>
      <div class="bulk-form__row">
        <div class="bulk-form__col m-third m-mob-half input-wrap">
          <input id="o-email" class="checkbox" type="checkbox" name="contact[preferred method of communication email]">
          <label for="o-email">Email</label>
        </div>
        <div class="bulk-form__col m-third m-mob-half input-wrap">
          <input id="o-phone" class="checkbox" type="checkbox" name="contact[preferred method of communication phone]">
          <label for="o-phone">Phone</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="form__fieldset">
      <div class="input-wrap">
        <textarea name="contact[comments]"  class="input m-multi" placeholder="Comments"></textarea>
      </div>
    </fieldset>

    <div class="bulk-form__row">
      <div class="bulk-form__col bulk-form__button">
        <button class="btn m-brand form__btn">Order</button>
      </div>
    </div>

  {% endform %}
</div>