{%- comment -%} Variant images {%- endcomment -%}
{%- assign name = variant.option1 | replace: ' ', '-' | downcase -%}
{%- assign catalog_image = variant.image -%}
{%- assign hover_image = variant.image -%}
{%- for image in product.images  -%}
  {%- assign alt = image.alt | split: " "  -%}
  {%- if alt contains name and alt contains 'hover' -%}
    {%- assign hover_image = image -%}
  {%- endif -%}
  {%- if alt contains name and alt contains 'catalog' -%}
    {%- assign catalog_image = image -%}
  {%- endif -%}
{%- endfor -%}
{%- comment -%} END variant images {%- endcomment -%}


{%- capture title -%}
  {{product.title}} {%- unless variant.option1 == 'Default Title' -%} - {{variant.option1}}{%- endunless -%}
{%- endcapture -%}


{%- capture colors -%}
  {%- for opt in product.options_with_values -%}
    {%- assign name = opt.name | handle -%}
    {%- if name == "color" -%}
      {{- variant.option1 | handle -}}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}


{%- capture badge -%}
  {%- comment -%} New! badge {%- endcomment -%}
  {%- if product.tags contains 'new' or variant.metafields.sf_new.enable == 1 -%}
    {
      "type": "new"
    }
  {%- comment -%} Bestseller badge {%- endcomment -%}
  {%- elsif product.tags contains 'bestseller' or variant.metafields.sf_bestseller.enable == 1 -%}
    {
      "type": "bestseller"
    }
  {%- comment -%} Soldout badge {%- endcomment -%}
  {%- elsif variant_soldout -%}
    {
      "type": "soldout"
    }
  {%- comment -%} Sale badge {%- endcomment -%}
  {%- elsif variant_on_sale -%}
    {%- assign save_money = variant.compare_at_price | minus: variant.price -%}
    {%- assign save_percent = save_money | times: 100 | divided_by: variant.compare_at_price -%}
    {
      "type": "sale",
      "discount": "{{ save_percent }}"
    }
  {%- else -%}
    false
  {%- endif -%}
{%- endcapture -%}


{%- capture preorder -%}
  {%- if product.tags contains "presale" or variant.metafields.sf_preorder.enable == 1 -%}
    true
  {%- else -%}
    false
  {%- endif -%}
{%- endcapture -%}

{%- unless first -%},{%- endunless -%}
{%- assign first = false -%}
{ 
  "id": {{ variant.id }},
  "productId": {{ product.id }},
  "item_type": "variant",
  "title": "{{ title }}",
  "all_variants_on_sale": {{ all_variants_on_sale }},
  "variants_on_sale_total": {{ variants_on_sale_total }},
  "variants_counter": {{ variants_counter }},
  "variant_soldout": {{ variant_soldout }},
  "variant_on_sale": {{ variant_on_sale }},
  "onSale": {{ variant_on_sale }},
  "price": "{{ variant.price }}",
  "salePrice": "{{ variant.compare_at_price }}",
  "colors": {{ colors | split: "," | json }},
  "url": "{{ variant.url }}",
  "zoom": "{{ zoom }}",
  "preorder": {{ preorder }},
  "images": {
    "placeholder": "{{ 'lazy-placeholder.png' | asset_url }}",
    "catalog": {
      "small": "{{ catalog_image | img_url: img_size_small }}",
      "medium": "{{ catalog_image | img_url: img_size_medium }}"
    },
    "hover": {
      "small": "{{ hover_image | img_url: img_size_small }}",
      "medium": "{{ hover_image | img_url: img_size_medium }}"
    }
  },
  "badge": {{ badge }},
  "inventory_policy": "{{ variant.inventory_policy }}",
  "zoomType": "{{ zoomType }}",
  "tags": {{ product.tags | json}}
}
