{%- assign item = 'product-grid-item-view-' | append: suffix -%}
{%- capture collection_item -%}
  {%- include item -%}
{%- endcapture -%}
{%- assign collection_item = collection_item | split: ""  -%}
{%- assign collection_items = collection_items | concat: collection_item  -%}