{%- assign variants_counter = 0 -%}
{%- assign variants_stock = 0 -%}

{%- comment -%} Check if all variants on sale {%- endcomment -%}
{%- assign variants_on_sale_total = 0 -%}
{%- assign all_variants_on_sale = false -%}


{%- comment -%} Check if all variants soldout {%- endcomment -%}
{%- assign variants_soldout_total = 0 -%}
{%- assign all_variants_soldout = false -%}

{% assign zoomType = "" %}
{% if product.tags contains 'zoom-collection-2' %}
  {% assign zoomType = 'zoom-2' %}
  {%- assign zoom = 2 -%}
  {%- assign zoom_class = 'is-zoomed' -%}
{% elsif product.tags contains 'zoom-collection' %}
  {% assign zoomType = 'zoom-1' %}
  {%- assign zoom = 2 -%}
  {%- assign zoom_class = 'is-zoomed' -%}
{%- else -%}
  {%- assign zoom = 1 -%}
  {%- assign zoom_class = '' -%}
{% endif %}

{%- assign img_size_small = 400 | times: zoom | append: 'x' -%}
{%- assign img_size_medium = 800 | times: zoom | append: 'x' -%}

{%- for variant in product.variants -%}
  {%- assign printOnIt = variant.option2 | handle -%}

  {%- if printOnIt != 'yes' -%}
    {%- if variant.compare_at_price > variant.price -%}
      {%- assign variants_on_sale_total = variants_on_sale_total | plus: 1  -%}
    {%- endif -%}

    {%- if variant.inventory_quantity <= 0 -%}
      {%- assign variants_soldout_total = variants_soldout_total | plus: 1  -%}
    {%- endif -%}

    {%- assign variants_counter = variants_counter | plus: 1 -%}

  {%- endif -%}
{%- endfor -%}


{%- comment -%} variants_counter != 0 is condition for bundles {%- endcomment -%}
{%- if variants_on_sale_total >= variants_counter and variants_counter != 0 -%}
  {%- assign all_variants_on_sale = true -%}
{%- endif -%}
{%- comment -%} variants_counter != 0 is condition for bundles {%- endcomment -%}
{%- if variants_soldout_total >= variants_counter and variants_counter != 0 -%}
  {%- assign all_variants_soldout = true -%}
{%- endif -%}