{% assign colors_counter = 0 %}
{%- capture colors -%}
  {%- for opt in product.options_with_values -%}
    {%- assign name = opt.name | handle -%}
    {%- if name == "color" -%}
      {%- for color in opt.values -%}
        {% assign colors_counter = colors_counter | plus: 1 %}
        {{- color | handle -}}
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}


{%- capture badge -%}
  {%- comment -%} New! badge {%- endcomment -%}
  {%- if product.tags contains 'new' -%}
    {
      "type": "new"
    }
  {%- comment -%} Bestseller badge {%- endcomment -%}
  {%- elsif product.tags contains 'bestseller' -%}
    {
      "type": "best"
    }
  {%- comment -%} Soldout badge {%- endcomment -%}
  {%- elsif all_variants_soldout -%}
    {
      "type": "soldout"
    }
  {%- comment -%} Sale badge {%- endcomment -%}
  {%- elsif all_variants_on_sale -%}
    {%- assign save_money = product.compare_at_price | minus: product.price -%}
    {%- assign save_percent = save_money | times: 100 | divided_by: product.compare_at_price -%}
    {
      "type": "sale",
      "discount": "{{ save_percent }}"
    }
  {%- else -%}
    false
  {%- endif -%}
{%- endcapture -%}


{%- capture preorder -%}
  {%- if product.tags contains "presale" -%}true{%- else -%}false{%- endif -%}
{%- endcapture -%}

{%- capture price_varies -%}
  {%- if product.price_varies -%}true{%- else -%}false{%- endif -%}
{%- endcapture -%}


{%- unless first -%},{%- endunless -%}
{%- assign first = false -%}
{
  "id": {{ product.id }},
  "item_type": "product",
  "colors": {{ colors | split: "," | json }},
  "title": "{{ product.title }}",
  "all_variants_on_sale": {{ all_variants_on_sale }},
  "onSale": {{ all_variants_on_sale }},
  "all_variants_soldout": {{ all_variants_soldout }},
  "variants_counter": {{ variants_counter }},
  "price": "{{ product.price }}",
  "salePrice": "{{ product.compare_at_price_max }}",
  "price_min": "{{ product.price_min }}",
  "price_max": "{{ product.price_max }}",
  "price_varies": {{ price_varies }},
  "url": "{{ product.url }}",
  "zoom": "{{ zoom }}",
  "preorder": {{ preorder }},
  "images": {
    "placeholder": "{{ 'lazy-placeholder.png' | asset_url }}",
    "catalog": {
      "small": "{{ product.featured_image | img_url: img_size_small }}",
      "medium": "{{ product.featured_image | img_url: img_size_medium }}"
    },
    "hover": {
      "small": "{{ product.images[1] | img_url: img_size_small }}",
      "medium": "{{ product.images[1] | img_url: img_size_medium }}"
    }
  },
  "badge": {{ badge }},
  "zoomType": "{{ zoomType }}",
  "colors_counter": {{ colors_counter }},
  "tags": {{ product.tags | json}}
}