{% include 'product-grid-item-helper' %}

{%- if template == 'product' -%}
  {%- assign products_only = true -%}
{%- else -%} 
  {%- assign products_only = false -%}
{%- endif -%}

{%- assign continue_selling = false -%}

{% assign variant_colors = '' %}
{%- for variant in product.variants -%}
  {%- assign option2 = variant.option2 | handle -%}
  
  {%- assign variant_on_sale = false -%}
  {%- assign variant_soldout = false -%}
  
  {% if variant_colors contains variant.option1 %}
    {% continue %}
  {% endif %}
  {% assign variant_colors = variant_colors | append: variant.option1 | append: ', ' %}


  {%- if option2 != 'yes' -%}
    {%- if variant.compare_at_price > variant.price -%}
      {%- assign variant_on_sale = true -%}
    {%- endif -%}

    {%- if variant.inventory_quantity <= 0 -%}
      {%- assign variant_soldout = true -%}
    {%- endif -%}
    
    {% if variant.inventory_policy == "continue" %}
      {% assign continue_selling = true %}
    {% endif %}

    {%- comment -%} Collection items capture {%- endcomment -%}
    {%- if products_only == false and product.tags contains 'show-variant' or variants_only -%}
      {%- include 'product-grid-item-capture' with {suffix: 'variant'} -%}
    {%- endif -%}
    {%- comment -%} End collection items capture {%- endcomment -%}

  {%- endif -%}

{%- endfor -%}


{%- comment -%} Collection items capture {%- endcomment -%}
{%- unless products_only == false and  product.tags contains 'show-variant' or variants_only -%}
  {% if products_only and all_variants_soldout %}
    {% continue %}
  {% endif %}
  {%- include 'product-grid-item-capture' with {suffix: 'product'} -%}
{%- endunless -%}
{%- comment -%} End collection items capture {%- endcomment -%}