{%- layout none -%}
{%- assign variants_only = false -%}
{%- paginate collection.products by 50 -%}	
  {%- assign collection_items = '' -%}
  {%- assign first = true -%}
  {%- for product in collection.products -%}
    {%- include 'product-grid-item' -%}
  {%- endfor -%}
  *****{
    "items": [{{- collection_items -}}],
    "pages": {{ paginate.pages }}
  }*****
{%- endpaginate -%}
