<template>
  <div>
      <div class="shell">
        <h2 class="title m-main m-center">{{ title }}</h2>
        <options v-bind="{items, filterOptions, requestCollection, pagination, updatePaginationFromTo}"></options>
        
        <div class="preloader-content">
          <products v-if="items.length" v-bind="{items, pagination, getPrice, getBasePrice}"></products>
        </div>

        <transition name="fade">
          <div class="collection-options" v-if="items.length && !isPreloading">          
            <div class="collection-options__wrap m-footer">
              <div class="collection-options__info">
                <h4 class="collection-options__title" v-if="items.length">SHOWING {{ pagination.from+1 }}-{{ pagination.to }} OF {{items.length}} ITEMS</h4>
                <button class="collection-options__btn btn m-brand" 
                        v-if="pagination.current != pagination.pages && pagination.pages != 0"
                        @click.prevent="pagination.current++">LOAD MORE</button>
              </div>
              <div class="collection-options__right">
                <div class="collection-options__item">
                  <pagination v-bind="{items, pagination, updatePaginationFromTo}"></pagination>
                </div>
                <!-- /.collection__option -->
              </div>
            </div>          
          </div>
        </transition>
    </div>
    <div class="preloader-overlay"></div>
  </div>
</template>

<script>
  import axios from 'axios'
  import preloader from '../helpers/preloader'
  import Products from './components/Products.vue'
  import Options from './components/Options.vue'
  import Pagination from './components/Pagination.vue'
  import filterCollection from './filterCollection.js'
  import vueMixins from '../vueMixins'
  export default {
    name: 'CollectionApp',
    mixins: [vueMixins],
    components: {
      Products,
      Options,
      Pagination
    },
    data() {
      return {
        title: window.COLLECTION_TITLE,
        handle: window.COLLECTION_HANDLE, 
        Shopify: Shopify,
        items: [],
        filterOptions: {
          colors: [],
          price: "",
          sort: "",
          hash: window.location.hash.replace('#', ''),
          href: window.location.href
        },
        pagination: {
          max: 18,
          offset: 2,
          current: 1,
          pages: 1,
          from: 0,
          to: 0
        },
        isPreloading: true
      }
    },
    computed: {
      path() {
        return window.location.pathname
      }
    },
    created() {
      let _this = this
      $('.header nav a').click(function() {
        let hash = $(this).attr('href').split('#')[1]
        if (hash) {
          _this.filterOptions.hash = hash
          _this.requestCollection()
        }
      });
      this.requestCollection()
    },
    mounted() {
      this.preloadCollection()
    },
    methods: {

      requestCollection() {
        this.preloadCollection()
        let view = (this.filterOptions.colors.length
          || this.filterOptions.hash != '' 
          || this.handle == 'sale') 
            ? 'filter-variants-only' 
            : 'filter'
        let sort = this.filterOptions.sort ? "&sort_by="+this.filterOptions.sort : ""
        axios
          .get(this.path+'?view='+view+'&page=1'+sort)
          .then(response => {
            response.data = JSON.parse(response.data.split("*****")[1])
            if (!this.checkResponse(response)) return false

            let tmpItems = response.data.items
            let pages = response.data.pages
            let responseCounter = 1
            // console.log('response 1', response.data.items);
            if (pages > 1) {
              for (let page = 2; page <= pages; page++) {
                axios
                  .get(this.path+'?view='+view+'&page='+page+sort)
                  .then(response => {
                    response.data = JSON.parse(response.data.split("*****")[1])
                    if (!this.checkResponse(response)) return false
                    tmpItems = tmpItems.concat(response.data.items)
                    // console.log('response', page, response.data.items);
                    responseCounter++
                    if (responseCounter == pages) {
                      this.showCollection(tmpItems)
                    }
                  })
                  .catch(error => console.log(error.message))
              }
            } 
            else {
              this.showCollection(tmpItems)
            }
          })
          .catch(error => console.log(error.message))
      },
      // /requestCollection

     
      checkResponse(response) {
        if (typeof response.data == "string") {
          console.error("COLLECTION ERROR: Invalid response value. Please check collection.liquid and its nested files");
          console.error("Collection response expected an Array, but got a string:", response.data);
          return false
        }
        return true
      },
      // /checkResponse

      paginateCollection() {
        const max = this.pagination.max
        let pages = Math.floor(this.items.length / max)
        this.items.length % max ? pages++ : null
        this.pagination.pages = pages
        this.pagination.current = 1
        this.updatePaginationFromTo()
      },
      // /paginateCollection

      updatePaginationFromTo() {
        let pages            = this.pagination.pages
        let current          = this.pagination.current
        let max              = this.pagination.max
        let total            = this.items.length
        let offset           = (current == pages && total % max) ? (-max + total % max) : 0
        this.pagination.from = (current * max) - max
        this.pagination.to   = (current * max) + offset
      },
      // /updatePaginationFromTo

      preloadCollection() {
        this.isPreloading = true
        preloader(true)
      },
      
      showCollection(tmpItems) {
        this.items = filterCollection({items: tmpItems, options: this.filterOptions, handle: this.handle})
        this.paginateCollection()
        this.isPreloading = false
        preloader(false)

      }
    }
    // /methods


  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>